/* App.js */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #13273b;
  font-family: 'Roboto', sans-serif;
}
.title {
  color: #27ad36;
}
.gallary-img {
  margin: 10px;
  width: 100%;
  height: 100%;
  max-height: 170px;

  width: auto;
  border: 5px solid #fdfcfc;
  -webkit-box-shadow: -3px 10px 77px -126px rgba(245, 8, 245, 1);
  -moz-box-shadow: -3px 10px 77px -126px rgba(245, 8, 245, 1);
  box-shadow: -3px 10px 77px -126px rgba(245, 8, 245, 1);
}
.gallary-img:hover {
  transition: 2s all cubic-bezier(1, -0.09, 0.06, 1.08);
  border: 5px solid #fdfcfc;
  -webkit-box-shadow: -3px 10px 284px -56px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -3px 10px 284px -56px rgba(0, 0, 0, 0.49);
  box-shadow: -3px 10px 284px -56px rgba(0, 0, 0, 0.49);
  transform: scale(2.8);
}
.pagination {
  overflow-x: auto;
  z-index: -1 !important;
  /* position: absolute; */
  margin-top: 200px;

  bottom: 0;
}
.hr {
  background-color: #fdfcfc;
}
.circles {
  display: flex;
  margin-top: 10px;
}
.circles div {
  margin-right: 20px;
  background-color: rgb(255, 196, 0);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.circles div:hover {
  border: 2px solid #fff;
  transform: 1s all scale(1.1);
}

/* Map css */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  height: 500px;
  border: 6px solid #fff;
  border-radius: 10px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  width: 450px;
  margin-bottom: 20px;
  line-height: 54px;
  padding-left: 20px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  input {
    width: 100%;
  }
  .star-button {
    margin-bottom: 40px !important;
    padding-left: 10px;
  }
}
